<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="compose">
    <div>
        <form th:action="@{/post/comment}" method="POST" class="new-comment-block" th:object="${comment}">
            <textarea class="new-comment-field" name="tfComment" cols="70" rows="3"
                      placeholder="Pasidalink savo nuomone..." th:field="*{body}"></textarea>

            <button type="submit" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-ok.svg}" alt=""></button>
            <button type="reset" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-cancel.svg}" alt="">
            </button>
        </form>
    </div>
</th:block>

<th:block th:fragment="feed">
    <div class="comments-feed" th:each="comment: *{comments}">
        <div class="comment">
            <img class="comment-image" th:src="${comment.user.avatarUrl}" alt="">
            <div class="commment-header">

                <p class="comment-date" th:text="${#temporals.format(comment.creationTimeStamp, 'yyyy-MM-dd HH:mm')}">
                    2020-12-05 18:11</p>
                <p class="comment-author" th:text="${comment.user.nickname}">Bitė Vilimaitė</p>
            </div>
            <div class="comment-body">
                <p th:text="${comment}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ex vel sunt
                    totam in
                    sint beatae velit. Odio et officiis error dolorum, quisquam, nisi dolores voluptate
                    veniam maiores iure dolorem.</p>

            </div>
            <a href="#"><img class="btn-xs" th:src="@{/img/ui/btn-edit.svg}" alt=""></a>
            <a href="#"><img class="btn-xs" th:src="@{/img/ui/btn-delete.svg}" alt=""></a>
        </div>
    </div>
</th:block>