<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="post (state)">
    <!--/* --------------- ADMIN ----------------- */-->
    <div class="post-modify">
        <a href="#" class="nudge-left"><img class="btn-m" th:src="@{/img/ui/btn-edit-admin.svg}" alt=""></a>
        <a href="#" class="nudge-left"><img class="btn-m" th:src="@{/img/ui/btn-delete-admin.svg}" alt=""></a>
    </div>
    <!--/* --------------------------------------- */-->

    <div class="post-texts-block">  <!--/* TEXTUAL SEGMENT (WITHOUT ILLUSTRATION) */-->
        <div> <!--/* ENTITY CONTAINER */-->
            <div class="post-header">  <!--/* entity.METADATA HEADER */-->
                <p class="post-header-date"
                   th:text="'REKOMENDUOTA: ' + ${#temporals.format(post.creationTimeStamp, 'yyyy-MM-dd HH:mm')}">
                    REKOMENDUOTA:
                    2020-12-04 17:15</p>
                <h2 class="post-header-title" th:text="*{title}">TITLE OF RECOMMENDATION</h2>
                <span class="post-header-tag" th:text="*{type}">TYPE TAG</span>
            </div>

            <div class="post-body"> <!--/* entity.BODY WITH EXPAND CONTROL */-->

                <th:block th:if="${state}=='expanded'">
                    <p class="post-text columns" th:text="*{body} ">Post text body block.</p>
                    <div class="btn-expand-control to-row-end">
                        <a th:href="@{/}" th:text="'SUSKLEISTII'">SUSKLEISTI</a>
                    </div>
                </th:block>
                <th:block th:unless="${state}=='expanded'">
                    <p class="post-text" th:text="*{body.length} > 300 ? *{body.substring(0,300)} + '...' : *{body}">Post text body block.</p>
                    <div class="btn-expand-control to-row-end">
                        <a th:href="@{/post/{id}(id=*{id})}" th:text="'SKAITYTI DAUGIAUU'">SKAITYTI DAUGIAU</a>
                    </div>
                </th:block>


            </div>
        </div>

        <div class="post-footer"> <!--/* LIKE AND COMMENT BUTTON FOOTER */-->
            <div class="post-footer-child">
                <a href="#">
                    <img class="btn-s" src="/img/ui/btn-agree-inactive.svg" alt=""></a>
                <span class="post-footer-text">6 PRITARIA</span>
            </div>
            <div class="post-footer-child">
                <a class="bt-show-comments">
                    <img class="icon-s" src="/img/ui/btn-comment.svg" alt="">
                    <span class="post-footer-text" th:text="*{comments.size} + ' KOMENTARAI'">7 KOMENTARAI</span>
                </a>
            </div>
        </div>
    </div>
    <div> <!--/* ILLUSTRATION SEGMENT */-->
        <img class="post-image" th:src="*{imageUrl}" alt="Illustration">
    </div>

</th:block>