<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title='ŽIŪRĖTI VĖLIAU')"/>
<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <!--/*  ADMIN "+" BUTTON */-->
    <a th:replace="fragments/button :: create (url='/post/compose')"></a>
    <main class="nudge-up-60">
        <!--/*    RENDER POST COMPOSE FORM */-->
        <section th:replace="fragments/form :: post-compose" th:object="${newPost}"></section>
<!--        <th:block th:if="${posts.empty}">-->
<!--            <p>Kol kas jokių rekomendacijų nėra :(</p>-->
<!--        </th:block>-->
        <!--/*    RENDER ALL POSTS AS COLLAPSED */-->
<!--        <th:block th:unless="${posts.empty}" th:each="post: ${posts}">-->
<!--            <article class="post to-column shadow">-->
<!--                <div class="post-content-section" th:insert="fragments/post :: body (state='collapsed')"-->
<!--                     th:object="${post}">-->
<!--                </div>-->
<!--            </article>-->
<!--        </th:block>-->
        </th:block>
    </main>
</div>
</body>
</html>