<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title=#{page.title.post.compose})"/>
<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <main>
        <!--/*    RENDER POST COMPOSE FORM */-->
        <section th:replace="fragments/form :: post-compose" th:object="${newPost}"></section>
        </th:block>
    </main>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/js/new-or-edit-post.js}"></script>
</body>
</html>