<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title=#{page.title.post.compose})"/>
<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <main>
        <!--/*    RENDER POST COMPOSE FORM */-->
        <section th:replace="fragments/form :: post-compose" th:object="${newPost}"></section>
<!--        <th:block th:if="${posts.empty}">-->
<!--            <p>Kol kas jokių rekomendacijų nėra :(</p>-->
<!--        </th:block>-->
        <!--/*    RENDER ALL POSTS AS COLLAPSED */-->
<!--        <th:block th:unless="${posts.empty}" th:each="post: ${posts}">-->
<!--            <article class="post to-column shadow">-->
<!--                <div class="post-content-section" th:insert="fragments/post :: body (state='collapsed')"-->
<!--                     th:object="${post}">-->
<!--                </div>-->
<!--            </article>-->
<!--        </th:block>-->
        </th:block>
    </main>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/js/new-or-edit-post.js}"></script>
</body>
</html>