<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title='ŽIŪRĖTI VĖLIAU')"></head>

<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <main>
        <!--/*    RENDER ACTIVATED POST AS EXPANDED */-->
        <article class="post to-column shadow expanded" tabindex="0">
            <div class="post-content-section"
                 th:insert="fragments/post :: body (state='expanded')"
                 th:object="${post}">
            </div>
            <!--/*    RENDER COMMENTS */-->
            <div class="comments-feed">
                <th:block th:each="comment: ${post.comments}">

                    <!--/*    FOR EDITABLE COMMENT */-->
                    <div th:if="${comment.id} == ${editableComment.id}"
                         class="comment"
                         th:insert="fragments/post :: comment (isEditable=true)"
                         th:object="${editableComment}">
                    </div>
                    <!--/*   FOR OTHER COMMENTS */-->
                    <div th:unless="${comment.id} == ${editableComment.id}"
                         class="comment"
                         th:insert="fragments/post :: comment (isEditable=false)"
                         th:object="${comment}">
                    </div>
                </th:block>
            </div>
        </article>
        <!--/*    RENDER THE REST OF THE POSTS AS COLLAPSED */-->
        <th:block th:unless="${otherPosts.empty}" th:each="post: ${otherPosts}">
            <article class="post to-column shadow">
                <div class="post-content-section"
                     th:insert="fragments/post :: body (state='collapsed')"
                     th:object="${post}">
                </div>
            </article>
        </th:block>
    </main>
</div>
<!--/*    SCROLL & FOCUS ON EDITABLE FIELD */-->
<script type="text/javascript" th:src="@{/js/edit-comment.js}"></script>
</body>
</html>