<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title='ŽIŪRĖTI VĖLIAU')"></head>>
<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <!--/*  ADMIN "+" BUTTON */-->
    <a th:replace="fragments/button :: create (url='/post/compose')"></a>
    <main class="nudge-up-60">
        <!--/*    RENDER POST COMPOSE FORM */-->
        <section th:replace="fragments/form :: post-edit" th:object="${editablePost}"></section>

        </th:block>
    </main>
</div>
</body>
</html>