<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/dependencies :: head (title=${type} + ' - ' + #{app.title})"/>
<body>
<div class="parent-container">
    <!--/*    MAIN MENU BANNER */-->
    <header th:replace="fragments/layout :: header"></header>
    <div th:replace="fragments/layout :: page-heading (heading=#{page.heading.recommendations.filtered} + ' ' + ${type})"></div>
    <main>
        <th:block th:if="${posts.empty}">
            <p th:text="#{post.filtered.feed.empty} + ' ' + ${type}">Kol kas jokių rekomendacijų neturime.</p>
        </th:block>
        <!--/*    RENDER ALL POSTS AS COLLAPSED */-->
        <th:block th:unless="${posts.empty}" th:each="post: ${posts}">

            <article class="post to-column shadow">
                <div class="post-content-section" th:insert="fragments/post :: body (state='collapsed')"
                     th:object="${post}">
                </div>
            </article>
        </th:block>
        </th:block>
    </main>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>
</body>
</html>