<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title='Registruotų vartotojų sąrašas - ŽIŪRĖTI VĖLIAU')"/>
    <body>
        <div class="parent-container">
            <!--    MAIN MENU BANNER-->
                <header th:replace="fragments/layout :: header"/>
                <main>
                    <table class="table">
                        <thead>
                        <tr th:include="fragments/table :: user-header-row"></tr>
                        </thead>
                        <tbody th:if="${users.empty}">Vartotojų nėra</tbody>
                        <tbody th:if="${not users.empty}" th:each="user: ${users}">
                        <tr th:include="fragments/table :: user-entity-row-row" th:object="${user}"></tr>
                        </tbody>
                    </table>
                </main>
        </div>
    </body>
</html>