<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--/*    NEW POST FORM */-->
<section th:fragment="post-compose" class="post-compose-parent">
    <div class="to-column">
        <div class="to-row">
            <article class="post-compose-form">
                <h4 class="info" th:text="#{post.form.compose.heading}">NAUJA REKOMENDACIJA:</h4>
                <form th:action="@{/post/compose}" method="POST" th:object="${newPost}">
                    <div class="to-row">
                        <div class="form-column w20">
                            <p class="label" th:text="#{post.form.compose.label.title}">PAVADINIMAS:</p>
                            <p class="label" th:text="#{post.form.compose.label.link}">NUORODA:</p>
                            <p class="label" th:text="#{post.form.compose.label.type}">TIPAS:</p>
                            <p class="label" th:text="#{post.form.compose.label.image.url}">ILIUSTRACIJOS URL:</p>
                            <p class="label" th:text="#{post.form.compose.label.body}">APRAŠYMAS:</p>
                            <p id="remainingSymbols" class="navigation-description to-row-end side-margin-20">0/1000</p>
                        </div>
                        <div class="form-column w80">
                            <input class="input w50" type="text" id="tfTitle"
                                   th:placeholder="#{post.form.compose.placeholder.title}" th:field="*{title}">
                            <input class="input w50" type="text" id="tfLink" th:field="*{link}"
                                   th:placeholder="#{post.form.compose.placeholder.link}"th:value="*{link}">
                            <input class="input w50" type="text" id="tfType"
                                   th:placeholder="#{post.form.compose.placeholder.type}" th:field="*{type}">
                            <input class="input w98" type="text" id="tfImageUrl"
                                   th:placeholder="#{post.form.compose.placeholder.image.url}" th:field="*{imageUrl}">
                            <textarea class="input w98" type="text" id="tfBody" rows="8" th:field="*{body}"></textarea>
                        </div>
                        <div class="to-column-bottom">
                            <a href="/index" class="btn-l"><img class="btn-l-img"
                                                                th:src="@{/img/ui/btn-cancel.svg}"></a>
                            <button type="submit" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-ok.svg}"
                                                                     alt=""></button>
                        </div>
                    </div>
                    <div class="errors" tabindex="0">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error" tabindex="0">KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="error">KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error" tabindex="0">KLAIDA: Tipas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error"
                              tabindex="0">>KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="error" tabindex="0">KLAIDA: Pavadinimas negali būti tuščias!</span>
                    </div>
                </form>
            </article>
            <div class="post-image-container">
                <img class="post-image" id="imagePreview" th:src="@{/img/media/no-image.png}" alt="Image Location">
            </div>
        </div>
    </div>
</section>

<!--/*    EDIT POST FORM */-->
<section th:fragment="post-edit" class="post-compose-parent">
    <div class="to-column">
        <div class="to-row">
            <article class="post-compose-form">
                <h4 class="info" th:text="#{post.form.edit.heading}">REKOMENDACIJOS REDAGAVIMAS:</h4>
                <form th:action="@{/post/edit}" method="POST" th:object="${editablePost}">
                    <div class="to-row">
                        <div class="form-column w20">
                            <p class="label" th:text="#{post.form.compose.label.title}">PAVADINIMAS:</p>
                            <p class="label" th:text="#{post.form.compose.label.type}">TIPAS:</p>
                            <p class="label" th:text="#{post.form.compose.label.link}">NUORODA:</p>
                            <p class="label" th:text="#{post.form.compose.label.image.url}">ILIUSTRACIJOS URL:</p>
                            <p class="label" th:text="#{post.form.compose.label.body}">APRAŠYMAS:</p>
                            <p id="remainingSymbols" class="navigation-description to-row-end side-margin-20">0/1000</p>
                        </div>
                        <div class="form-column w80">
                            <input type="hidden" id="tfId" th:field="*{id}" th:value="*{id}">
                            <input class="input w50" type="text" id="tfTitle" th:field="*{title}" th:value="*{title}">
                            <input class="input w50" type="text" id="tfLink" th:field="*{link}" th:value="*{link}">
                            <input class="input w50" type="text" id="tfType" th:field="*{type}" th:value="*{type}">
                            <input class="input w98" type="text" id="tfImageUrl" th:field="*{imageUrl}"
                                   th:value="*{imageUrl}">
                            <textarea class="input w98" type="text" id="tfBody" rows="8" th:field="*{body}"
                                      th:text="*{body}"></textarea>
                        </div>
                        <div class="to-column-bottom">
                            <a href="/index" class="btn-l"><img class="btn-l-img"
                                                                th:src="@{/img/ui/btn-cancel.svg}"></a>
                            <button type="submit" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-ok.svg}"
                                                                     alt=""></button>
                        </div>
                    </div>
                    <div class="errors">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="error">KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error">KLAIDA: Tipas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error">>KLAIDA: Pavadinimas negali būti tuščias!</span>
                        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="error">>KLAIDA: Pavadinimas negali būti tuščias!</span>
                    </div>
                </form>
            </article>
            <div class="post-image-container" th:object="${editablePost}">
                <img class="post-image" id="imagePreview" th:src="*{imageUrl}" alt="Image Location">
            </div>
        </div>
    </div>
</section>


<!--/*    NEW COMMENT FORM */-->
<th:block th:fragment="comment-compose">
    <div>
        <div sec:authorize="isAnonymous()" class="new-comment-for-guest">
            <p class="warning" th:text="#{comment.anonymous.user.warning}" tabindex="0">Komentuoti gali tik registruoti
                vartotojai</p>
            <a class="btn-authenticate" th:href="@{/user/register}" th:text="#{user.button.register}">Registruotis</a>
            <a class="btn-authenticate" th:href="@{/sign-in}" th:text="#{user.button.login}">Prisijungti</a>
        </div>

        <form sec:authorize="isAuthenticated()" th:action="@{/post/comment/}" method="POST" class="new-comment-block"
              th:object="${newComment}">
            <textarea class="new-comment-field" name="tfComment" cols="70" rows="3"
                      th:placeholder="#{comment.form.compose.placeholder}" th:field="*{message}"></textarea>
            <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="error">KLAIDA: Komentaras negali būti tuščias!</span>
            <button type="submit" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-ok.svg}" alt=""></button>
            </button>
        </form>
    </div>
</th:block>

<!--/*    USER REGISTER FORM */-->
<article th:fragment="user-register" class="post-compose-form">
    <h4 class="info" th:text="#{user.form.register.heading}">VARTOTOJO REGISTRACIJA:</h4>
    <form th:action="@{/user/register}" method="POST" th:object="${newUser}">
        <div class="to-row-center">
            <div class="form-column w20">
                <p class="label" th:text="#{user.form.register.label.username}">EL.PAŠTAS*:</p>
                <p class="label" th:text="#{user.form.register.label.nickname}">PSEUDONIMAS*:</p>
                <p class="label" th:text="#{user.form.register.label.password}">SLAPTAŽODIS*:</p>
                <p class="label" th:text="#{user.form.register.label.password.confirm}">SLAPTAŽODIS*:</p>
                <p class="label" th:text="#{user.form.register.label.avatar.url}">AVATARO URL:</p>
            </div>

            <div class="form-column w50">
                <input th:field="*{username}" type="text" class="input w80" id="tfUsername">
                <input th:field="*{nickname}" type="text" class="input w80" id="tfNickname">
                <input th:field="*{password}" type="password" class="input w80" id="tfPassword">
                <input th:field="*{confirmPassword}" type="password" class="input w80" id="tfConfirmPassword">
                <input th:field="*{avatarUrl}" type="text" class="input w80" id="tfAvatarUrl">
            </div>

            <div class="to-row">
                <button class="btn-l" type="submit"><img class="btn-l-img" th:src="@{/img/ui/btn-ok.svg}" alt="">
                </button>
                <a th:href="@{/}" class="to-column-center"><img class="btn-l-img" th:src="@{/img/ui/btn-cancel.svg}"
                                                                alt=""></a>
            </div>
        </div>
        <div class="errors">
            <div class="form-column w60">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error to-row-center w80">KLAIDA: El. paštas negali būti tuščias!</span>
                <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error to-row-center w80">KLAIDA: Pseudonimas negali būti tuščias!</span>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error to-row-center w80">KLAIDA: Slaptažodis negali būti tuščias!</span>
                <span th:if="${#fields.hasErrors('avatarUrl')}" th:errors="*{avatarUrl}"
                      class="error to-row-center w80">KLAIDA: Paveikslėlio URL negali būti tuščias!</span>
            </div>
        </div>
    </form>
</article>

<!--/*   USER LOGIN FORM */-->
<article th:fragment="user-login" class="post-compose-form w98">
    <h4 class="info" th:text="#{user.form.login.heading}">VARTOTOJO PRISIJUNGIMAS:</h4>
    <form th:action="@{/sign-in}" method="POST">
        <div class="to-row-center">
            <div class="form-column w35">
                <p class="label" th:text="#{user.form.register.label.username}">EL. PAŠTAS:</p>
                <p class="label" th:text="#{user.form.register.label.password}">SLAPTAŽODIS:</p>
            </div>
            <div class="form-column w50">
                <input class="input w80" type="text" id="tfUsername" name="user"/>
                <input class="input w80" type="password" id="tfPassword" name="pass"/>
            </div>
            <div class="to-row">
                <button class="btn-l" type="submit"><img class="btn-l-img" src="img/ui/btn-ok.svg" alt="">
                </button>
                <a th:href="@{/}" class="btn-l"><img class="btn-l-img" th:src="@{/img/ui/btn-cancel.svg}"
                                                     alt=""></a>
            </div>
        </div>
        <div class="to-row-center">
            <p th:if="${loginError}" class="error to-row-center">Wrong username or password</p>
        </div>
    </form>
</article>