<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <header>
        <div class="header-title">
            <a th:href="@{/}">
                <img class="header-title-logo" th:src="@{/img/ui/logo.svg}" alt="Žiūrėti Vėliau">
            </a>
        </div>

        <div class="header-body">
            <nav>
                <div th:replace="fragments/layout :: menu-navigation"/>
                <div th:replace="fragments/layout :: menu-user"/>
            </nav>
            <div th:replace="fragments/layout :: menu-quote"/>
        </div>
    </header>
    <!--/*  ADMIN "+" BUTTON */-->
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/button :: create (url='/post/compose')"></a>
</th:block>

<div th:fragment="menu-navigation" class="navigation">
    <p class="navigation-description" th:text="#{header.description}">Įvairaus turinio rekomendacijos. Didžiausias vėlesnės veiklos
        planavimo portalas šalyje.</p>
    <div class="navigation-menu">
        <div class="navigation-menu-items-primary">
            <a href="#" th:text="#{header.menu.recommendations}">REKOMENDACIJOS</a>
            <a href="#" th:text="#{header.menu.about}">APIE</a>
            <a href="#" th:text="#{header.menu.donate}">PAREMK</a>
        </div>
        <div class="navigation-menu-items-secondary">
            <a href="#" th:text="#{header.menu.podcasts}">TINKLALAIDĖS</a>
            <a href="#" th:text="#{header.menu.movies}">FILMAI</a>
            <a href="#" th:text="#{header.menu.series}">SERIALAI</a>
            <a href="#" th:text="#{header.menu.games}">ŽAIDIMAI</a>
            <a href="#" th:text="#{header.menu.apps}">PROGRAMĖLĖS</a>
        </div>
    </div>
</div>

<div th:fragment="menu-user"
     class="menu-user"
     >
    <img class="menu-user-image" sec:authorize="isAuthenticated()" th:src="${user.avatarUrl}" alt="User Avatar">
    <div class="language-select"
         th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
        <a th:class="${#locale.toString()} == 'lt'  ? 'btn-lang-selected' : ''" th:href="@{${currentUrl}(lang='lt')}">LT</a>
        <span>|</span>
        <a th:class="${#locale.toString()} == 'en'  ? 'btn-lang-selected' : ''" th:href="@{${currentUrl}(lang='en')}">EN</a>
    </div>
    <div class="user-profile-select">
        <span class="far fa-user"></span>
        <span class="username" sec:authorize="isAuthenticated()" th:text="${user.nickname}">nickname</span>
        <span class="username" sec:authorize="!isAuthenticated()" th:text="#{user.anonymous}">Neprisijungęs Vartotojas</span>
    </div>
    <div class="authenticate-select">
        <form th:action="@{/sign-out}" method="POST">
            <button class="btn-logout" type="submit" sec:authorize="isAuthenticated()" th:text="#{user.button.logout}"></button>
        </form>
        <a class="btn-user-menu" sec:authorize="isAnonymous()" href="/user/register" th:text="#{user.button.register}">Registruotis</a>
        <a class="btn-user-menu" sec:authorize="isAnonymous()" href="/sign-in" th:text="#{user.button.login}">Prisijungti</a>
    </div>
    <a class="btn-user-menu" sec:authorize="hasRole('ROLE_ADMIN')" href="/private/user" th:text="#{user.list}">Vartotojai</a>
</div>

<div th:fragment="menu-quote" class="quote-container">
    <p class="quote-text"><span class="highlight">"</span><span class="quote-text" th:text="#{header.quote.text}">Socializuotis nebemadinga, pavojinga, o dar ir
        draudžiama, atrask, ką
        turiningo nuveikti
        užsidarius namie!</span><span class="highlight">"</span></p>
    <p class="quote-author" th:text="#{header.quote.author}">- Intravertas Anonimas</p>
</div>

<th:block th:fragment="page-heading (heading)">
    <div class="page-name-container">
        <div class="page-name">
            <h3 th:text="${heading}">REGISTRUOTI VARTOTOJAI:</h3>
        </div>
    </div>
</th:block>


<th:block th:fragment="footer">
<footer class="to-row-center">
    <img class="btn-s side-margin-20" th:src="@{/img/ui/footer-logo.svg}" alt="Footer Logo">
    <span class="navigation-description">© 2020 <a href="https://www.verbus.lt">Šarūnas Verbus</a>.&nbsp</span>
    <span class="navigation-description" th:text="#{footer.copyright.text}">All rights reserved</span>
</footer>
</th:block>
