/* SMALL DESKTOP BREAKPOINT */
@media screen and (max-width: 1350px) {
  body {
    margin: 10px;
  }
  .parent-container {
    width: 90%;
  }

  nav {
    flex-direction: column;
  }

  .navigation-description {
    margin: 10px;
    text-align: left;
    order: 1;
  }

  .menu-user {
    flex-direction: row;
    margin: 5px;
    order: -2;
  }

  .menu-user-image {
    display: none;
  }

  .language-select,
  .user-profile-select,
  .authenticate-select,
  .menu-user a {
    margin: 10px;
  }

  .quote-container {
    width: 100%;
  }

  .quote-text {
    font-size: 14pt;
    margin: 0px 10px 0px 10px;
  }

  .quote-author {
    font-size: 10pt;
    margin: 0px 10px 0px 10px;
  }

  .post-image {
    width: 120px;
  }

  .post-body {
    height: 150px;
  }

}

/* TABLET BREAKPOINT */
@media screen and (max-width: 1000px) {
  .navigation-menu-items-secondary {
    flex-wrap: wrap;
    width: 300px;
  }

  .navigation-menu {
    background-image: url("/img/ui/menu-bg-tablet-blue.svg");
    background-position: left;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 400px;
    background-position: 0px 5px;
    padding: 35px;
  }

  .navigation-menu-items-secondary {
    justify-content: center;
  }


  .language-select,
  .user-profile-select,
  .authenticate-select {
    margin-left: 0px;
    margin-right: 0px;
  }

  .authenticate-select {
    width: 35%;
  }

  .menu-user {
    display: float;
  }

  .columns {
    column-count: 2;
  }

  .post {
    margin-top: 130px;
    height: unset;
    flex-direction: column;
  }

  .post-content-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .post-body {
    height: 150px;
  }


  .post-image {
    width: 100%;
    height: 100px;
  }

  .quote-container {
    display: none;
  }

  .nudge-left {
    margin-left: 10px;
    margin-top: -20px;
    z-index: 1;
    position: relative;
  }

  .post-modify {
    flex-direction: row;
    order: 1;
  }

  .post-image-container {
    order: 2;
  }
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 850px) {
  body {
    margin: 0;
  }

  .parent-container {
    width: 100%;
  }

  /* MOBILE HEADER */
  header,
  nav,
  .navigation-menu-items-primary,
  .navigation-menu-items-secondary {
    flex-direction: column;
  }

  .header-title {
    align-items: center;
  }

  .navigation-description {
    margin: 10px;
    text-align: center;
    order: -1;
  }

  .navigation-menu {
    background-image: url("/img/ui/menu-bg-mobile-blue.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    height: unset;
    margin-bottom: 20px;
  }


  .navigation-menu-items-primary,
  .navigation-menu-items-secondary {
    align-items: center;
    border-radius: 20%;
  }

  .navigation-menu-items-primary a,
  .navigation-menu-items-secondary a {
    margin: 5px;
    font-size: 15pt;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navigation-menu-items-secondary {
    width: unset;
  }


  .menu-user {
    justify-content: center;
  }

  .authenticate-select {
    width: 42%;
  }

  /* MOBILE POST */

  .columns {
    column-count: 1;
  }

  .post {
    width: 100%;
    margin-top: 40px;
  }

.post-content-section{
  height: unset;
}

.expanded .post-texts-block{
  height: 400px;
}


  tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  td {
    display: block;
    width: 50%;
    text-align: center;
  }


  
}
