.expanded {
  width: 100%;
}

.not-displayed {
  display: none;
}

.nudge-up-10 {
  margin-top: -10px;
}

.nudge-up-40 {
  margin-top: -40px;
}

.nudge-left {
  margin-left: -25px;
}

.flex {
  display: flex;
}
.to-row {
  display: flex;
  flex-direction: row;
}

.to-column {
  display: flex;
  flex-direction: column;
}

.to-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.to-column-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.to-row-start {
  display: flex;
  justify-content: flex-start;
}

.to-row-center {
  display: flex;
  justify-content: center;
}

.to-row-end {
  display: flex;
  justify-content: flex-end;
}

.to-row-spaced {
  display: flex;
  justify-content: space-between;
}

.to-bottom {
  display: flex;
  justify-content: flex-end;
}

.pb20{
  padding-bottom: 20px;
}

.w20 {
  width: 20%;
}

.w35 {
  width: 35%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}


.w80 {
  width: 80%;
}

.w98 {
  width: 98%;
}

.w100 {
  width: 100%;
}

.order-down {
  order: -1;
}
