<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/dependencies :: head (title='ŽIŪRĖTI VĖLIAU')"/>


<body>
<div class="parent-container">

    <!--    MAIN MENU BANNER-->
    <header th:replace="fragments/layout :: menu"/>
    <!--   ADMIN "+" BUTTON-->
    <a th:replace="fragments/buttons :: bt-compose (url='/compose')"/>
    <main>
        <th:block th:if="${posts.empty}">
            <p>Postukų nėra</p>
        </th:block>

        <th:block th:if="${not posts.empty}" th:each="post: ${posts}">

            <article class="post to-column expanded">
                <!--    RENDER EACH POST FRAGMENT, PASS CREATION DATE-->
                <div class="post-content-section" th:include="fragments/feed :: post"
                     th:object="${post}">
                </div>
                <!--    RENDER EACH POST-COMMENT FRAGMENT -->
                <div class="comments-section expanded" th:include="fragments/feed :: comments" th:object="${post}">
                </div>
            </article>

        </th:block>
    </main>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>