<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dependencies :: head (title='ŽIŪRĖTI VĖLIAU')"/>
<body>
<div class="parent-container">
    <!--    MAIN MENU BANNER-->
    <header th:replace="fragments/layout :: header"/>
    <!--   ADMIN "+" BUTTON-->
    <a th:replace="fragments/button :: create (url='/compose')"/>
    <main>
        <th:block th:if="${posts.empty}">
            <p>Postukų nėra</p>
        </th:block>
        <th:block th:unless="${posts.empty}" th:each="post: ${posts}">
            <article class="post to-column">
                <div class="post-content-section" th:insert="fragments/post :: body (state='collapsed')"
                     th:object="${post}">
                </div>
            </article>
        </th:block>

        </th:block>

    </main>
</div>
<!--<script type="text/javascript" th:src="@{/js/script.js}"></script>-->
</body>
</html>