<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Post</title>
</head>
<body>

<form th:action="@{/post/compose}" method="post" th:object="${post}">
<div class="container">
    <h1 th:text="'Naujas Blogo Įrašas'">Naujas Blogo Įrašas</h1>
    <label for="tfTitle" th:text="'Antraštė'">Antraštė</label>
    <input class="form-control" type="text" id="tfTitle" th:field="*{title}"><br/>
    <label for="tfBody" th:text="'Tekstas'">Tekstas</label>
    <textarea class="form-control" type="text" id="tfBody" th:field="*{body}" rows="5" cols="30"></textarea><br/>
    <button class="btn btn-primary" type="submit" th:text="'Skelbti'">Skelbti</button>
</div>

</form>


</body>
</html>